/* ===================================================================
   BUTTON COMPONENT STYLES
   =================================================================== */

/* Button Backgrounds */
button.bg-gray-100 {
  background-color: var(--gray-100);
  color: var(--gray-900);
}
button.bg-gray-200 {
  background-color: var(--gray-200);
  color: var(--gray-900);
}
button.bg-gray-800 {
  background-color: var(--gray-800);
  color: var(--gray-50);
}
button.bg-gray-900 {
  background-color: var(--gray-900);
  color: var(--gray-50);
}
button.bg-red-50 {
  background-color: var(--red-50);
  color: var(--red-900);
}
button.bg-red-100 {
  background-color: var(--red-100);
  color: var(--red-900);
}
button.bg-red-400 {
  background-color: var(--red-400);
  color: white;
}
button.bg-red-500 {
  background-color: var(--red-500);
  color: white;
}
button.bg-red-600 {
  background-color: var(--red-600);
  color: white;
}
button.bg-red-700 {
  background-color: var(--red-700);
  color: white;
}
button.bg-blue-50 {
  background-color: var(--blue-50);
  color: var(--blue-900);
}
button.bg-blue-100 {
  background-color: var(--blue-100);
  color: var(--blue-900);
}
button.bg-blue-500 {
  background-color: var(--blue-500);
  color: white;
}
button.bg-blue-600 {
  background-color: var(--blue-600);
  color: white;
}
button.bg-blue-700 {
  background-color: var(--blue-700);
  color: white;
}
button.bg-green-50 {
  background-color: var(--green-50);
  color: var(--green-900);
}
button.bg-green-100 {
  background-color: var(--green-100);
  color: var(--green-900);
}
button.bg-green-400 {
  background-color: var(--green-400);
  color: white;
}
button.bg-green-500 {
  background-color: var(--green-500);
  color: white;
}
button.bg-green-600 {
  background-color: var(--green-600);
  color: white;
}
button.bg-green-700 {
  background-color: var(--green-700);
  color: white;
}
button.bg-yellow-100 {
  background-color: var(--yellow-100);
  color: var(--yellow-900);
}
button.bg-yellow-400 {
  background-color: var(--yellow-400);
  color: black;
}
button.bg-yellow-500 {
  background-color: var(--yellow-500);
  color: black;
}

button.size-8 {
  min-width: 48px;
  min-height: 48px;
}
